.bg-light-grey {
	background: #fafafa;
}

.bg-blue {
	background: #127ec5;
}

.bg-mineshaft {
	background: #313131;
}

.btn-blue {
	background: #127ec5;
}

.mineshaft {
	color: #f2f2f2;
}

.turbo {
	color: #ffeb00;
}
