@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
	min-height: 100vh;
	height: 100%;
	font-family: 'Quicksand';
}

a {
	text-decoration: none;
	color: black;
}

.quicksand {
	font-family: 'Quicksand', sans-serif;
}

.xy-center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.x-center {
	left: 50%;
	position: absolute;
	transform: translate(-50%, 0%);
}

/* Ant Typography */
.ant-typography {
	margin: 0 !important;
}

/* Antd Layout */
#components-layout-demo-side .logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
	background: #fff;
}

.ant-layout-sider,
.ant-layout-sider-trigger,
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
	background: #127ec5 !important;
}

.ant-layout-sider-trigger {
	border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
	background: white !important;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span,
.ant-menu-dark .ant-menu-item-selected .anticon + span,
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
.ant-menu-dark .ant-menu-item-selected .anticon,
.ant-menu-dark .ant-menu-item-selected {
	color: #127ec5 !important;
	font-weight: 500;
}

.ant-menu-root {
	height: 60vh;
	overflow: overlay;
}

.ant-menu-root::-webkit-scrollbar {
	width: 0 !important;
}

.ant-checkbox-inner,
.ant-checkbox-inner:after,
.ant-checkbox-checked:after {
	border-radius: 100% !important;
}

.ant-pagination-item {
	background: white !important;
	border: 1px solid black !important;
	color: black !important;
	border-radius: 5px !important;
}

.ant-pagination-item-active {
	background: red !important;
	border: none !important;
	color: white !important;
}

.ant-pagination-item-active a {
	color: white;
}

.ant-table-fixed {
	table-layout: fixed !important;
}

.ant-table-tbody > tr > td {
	word-wrap: break-word !important;
	word-break: break-all !important;
}

.ant-modal-title {
	color: #127ec5;
	font-size: 20px;
	font-weight: 700;
}

.ant-breadcrumb a {
	color: #417ba2 !important;
}

.ant-breadcrumb > span:last-child a {
	color: #127ec5 !important;
	font-weight: 700 !important;
}

.ant-select-selector {
	border-color: rgba(0, 0, 0, 0.1) !important;
	border-radius: 0.5rem !important;
	border-width: 0.125rem !important;
	padding: 0 1rem !important;
}
